<div style="clear:both">

</div>
<!-- Register and benefit section end -->
<!-- Page footer-->
<div class="footer">
    <div class="row mh-lg bg-inverse-light pv-xl ph-xl">
        <div class="col-md-4">
            <div class="panel widget bg-inverse-light text-white">
                <h2 class="text-uppercase">lorem ipsum</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt consectetur, adipisci velit.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel widget bg-inverse-light text-white">
                <h2 class="text-uppercase">lorem ipsum</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt consectetur, adipisci velit.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel widget bg-inverse-light text-white">
                <h2 class="text-uppercase">lorem ipsum</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt consectetur, adipisci velit.</p>
            </div>
        </div>
    </div>
</div>
</div>