<!-- =============== VENDOR SCRIPTS ===============-->

<!-- MODERNIZR-->
<script src="/vendors/modernizr/modernizr.custom.js"></script>
<!-- MATCHMEDIA POLYFILL-->
<script src="/vendors/matchMedia/matchMedia.js"></script>
<!-- JQUERY-->
<script src="/vendors/jquery/dist/jquery.js"></script>
<!-- BOOTSTRAP-->
<script src="/vendors/bootstrap/dist/js/bootstrap.js"></script>
<!-- STORAGE API-->
<script src="/vendors/jQuery-Storage-API/jquery.storageapi.js"></script>
<!-- JQUERY EASING-->
<script src="/vendors/jquery.easing/js/jquery.easing.js"></script>
<!-- ANIMO-->
<script src="/vendors/animo.js/animo.js"></script>
<!-- SLIMSCROLL-->
<script src="/vendors/slimScroll/jquery.slimscroll.min.js"></script>
<!-- SCREENFULL-->
<script src="/vendors/screenfull/dist/screenfull.js"></script>
<!-- LOCALIZE-->
<script src="/vendors/jquery-localize-i18n/dist/jquery.localize.js"></script>
<!-- RTL demo-->
<script src="/theme/js/demo/demo-rtl.js"></script>
<!-- CHOSEN-->
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bb932cc7c574000111caadf&product=inline-share-buttons' async='async'></script>
<script src="/vendors/chosen_v1.2.0/chosen.jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script src="/theme/js/login-user.js"></script>
<!-- =============== PAGE VENDOR SCRIPTS ===============-->
</body>
</html>
