<div class="items-container" style="margin-top: 115px">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="searchDetails"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" id="categoryData">

        </div>
        <div class="col-md-3">
            <img src="https://dummyimage.com/250x800/364459/fff" alt="">
        </div>
    </div>
</div>