<div class="row">
    <div class="panel widget">
        <div class="bg-container">
            <div class="overshadow-default">
                <div class="panel-body hero-content">
                    <h2 class="pt-xl text-center text-success text-white text-uppercase">All You Need Is Here &
                        Classified</h2>
                    <p class="p-sm text-white text-center">Browse from more than 15,000,000 adverts while new ones come
                        on daily bassis</p>
                    <div class="flex-container">
                        <div class="col-md-3" style="padding-left: 2px; padding-right: 2px;">
                            <select name="categories" id="categories" class="form-control chosen-select"
                                    style="height:45px; border-radius:0px;">

                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left: 2px; padding-right: 2px;">
                            <input type="text" name="ads" placeholder="Search products ..." class="form-control"
                                   style="height:45px; border-radius:0px;">
                        </div>
                        <div class="col-md-2" style="padding-left: 2px; padding-right: 2px;">
                            <button type="button" class="btn btn-success search" style="height:45px;width:100%;border-radius:0px;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:-80px;">
    <div class="flex-container pv-lg" style="background-color:#F8F8F8" id="ads-title">

    </div>
</div>
<div style="clear:both">

</div>
<br>
<hr>
<center>
    <h4>Latest Ads</h4>
</center>
<br>
<div class="items-container" id="allAds">

</div>
<div style="clear:both">

</div>
<!--  End items container -->


<!-- Register and benefit section -->

<div class="col-xs-12 mt-xxl">
    <div class="panel widget">
        <div style="background-image: url('/theme/img/bg4.jpg')" class="m0 panel-body text-center bg-center">
            <div class="pl-xl pt-xxl ml-xl pull-left text-white text-left">
                <h1>Register & Benefit</h2>
                    <ul class="pb-lg" style="padding-left:14px;">
                        <li class="lh-md">Participate in auctions</li>
                        <li class="lh-md">Submit your ads</li>
                        <li class="lh-md">Promote your ads</li>
                        <li class="lh-md">Get reviewed to become noticeable</li>
                        <li class="lh-md">Save favorite ads</li>
                        <li class="lh-md">And more</li>
                    </ul>
            </div>
            <div style="clear:both;">
            </div>
            <div class="pull-left ml-xl pl-xl pb-xxl">
                <button type="button" class="btn btn-success btn-large text-uppercase">How it works</button>
            </div>
        </div>
    </div>
</div>