<div class="items-container" style="margin-top: 115px">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="searchDetails"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="single-heading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </h2>
                    <div class="sharethis-inline-share-buttons"></div>
                    <br>
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="https://dummyimage.com/800x600/364459/fff" alt="">
                        </div>
                        <div class="item">
                            <img src="https://dummyimage.com/250x300/364459/fff" alt="">
                        </div>
                        <div class="item">
                            <img src="https://dummyimage.com/250x300/364459/fff" alt="">
                        </div>
                        <div class="item">
                            <img src="https://dummyimage.com/250x300/364459/fff" alt="">
                        </div>
                        <div class="item">
                            <img src="https://dummyimage.com/250x300/364459/fff" alt="">
                        </div>
                    </div>
                    <hr>
                    <p class="postData">
                        <i class="fa fa-refresh fa-spin"></i>
                    </p>
                </div>
            </div>
            <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
        </div>
        <div class="col-md-3">
            <div class="panel widget">
                <div class="panel-body main-bg text-center">
                    <i class="icon-compass fa-5x text-white"></i>
                    <h4 class="mt0 text-white" id="postUser"><i class="fa fa-refresh fa-spin"></i></h4>
                    <p class="m0 text-white">
                        <em class="fa fa-fw fa-share-alt"></em><i id="postEmail"><i class="fa fa-refresh fa-spin"></i></i></p>
                    <div class="clearfix">
                        <div class="pull-left text-white" id="postCategoryType"><i class="fa fa-refresh fa-spin"></i></div>
                        <div class="pull-right text-white" id="postPhone"><i class="fa fa-refresh fa-spin"></i></div>
                    </div>
                </div>
            </div>



            <img src="https://dummyimage.com/250x800/364459/fff" alt="">
        </div>
    </div>
</div>