<!-- Page content-->
<div class="content-wrapper">
    <h3>Home - Dashboard
        <small>All Users</small>
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Users
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Fullname</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="allUsers"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>