<!-- Page content-->
<div class="content-wrapper">
    <h3>Home - Dashboard
        <small>All Ads</small>
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Ads
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Premium</th>
                            <th>Category</th>
                            <th>Contact</th>
                            <th>Details</th>
                            <th>By</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="allAds"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>