<div class="content-wrapper">
    <h3>Home - Dashboard
        <small>Dashboard</small>
    </h3>
    <div class="row">
        <div class="col-md-4">
            <div class="panel widget bg-primary">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="fa fa-newspaper-o fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0" id="totalAds">
                            <i class="fa fa-spin fa-refresh"></i>
                        </div>
                        <div class="text-uppercase">Ads</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel widget bg-white">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-lg">
                        <em class="fa fa-certificate fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0" id="premiumAds">
                            <i class="fa fa-spin fa-refresh"></i>
                        </div>
                        <div class="text-uppercase">Premium Ads</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel widget bg-purple">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="fa fa-times fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0" id="totalCategories">
                            <i class="fa fa-spin fa-refresh"></i>
                        </div>
                        <div class="text-uppercase">Categories</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Latest Ads
                    <span class="pull-right">
                      <a href="/admin/ads" style="color:#fff">
                        <i class="fa fa-eye"></i> View All
                      </a>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="latestAds">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>