<div class="items-container" style="padding-top: 100px">
    <div class="unwarp">
        <div style="background-image: url(/theme/img/profile-bg.jpg)" class="bg-cover">
            <div class="p-xl text-center text-white">
                <i class="fa fa-user fa-5x"></i>
                <h3 class="m0 fullNameProfile">Ted Berry</h3>
                <p>
                    <i class="icon-location-pin"></i> <span class="addressProfile"><i class="fa fa-refresh fa-spin"></i></span>
                </p>
            </div>
        </div>
        <div class="text-center main-bg p-lg mb-xl">
            <div class="row row-table">
                <div class="col-xs-4 br">
                    <h3 class="m0 text-white allAdsProfile">
                        <i class="fa fa-refresh fa-spin"></i>
                    </h3>
                    <p class="m0">
                        <span class="hidden-xs text-white">Advertisement</span>
                        <span class="text-white">LIVE</span>
                    </p>
                </div>
                <div class="col-xs-4 br">
                    <h3 class="m0 text-white premiumCountProfile"><i class="fa fa-refresh fa-spin"></i></h3>
                    <p class="m0 text-white">Premium</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="items-container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <a href="/profile/myads" class="list-group-item">All Ads</a>
                <a href="/profile/post" class="list-group-item">New Ad</a>
                <a href="/profile/message" class="list-group-item">Messages</a>
                <a href="/profile/setting" class="list-group-item">Settings</a>
                <a href="/profile/logout" class="list-group-item"><i class="icon-logout"></i> Logout</a>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Ads
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Premium</th>
                            <th>Category</th>
                            <th>Contact</th>
                            <th>Details</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="allAdsProfile"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>