<%include ../includes/main/head %>
<%include ../includes/main/navbar %>
<%include ../includes/main/sidebar %>
<section>
    <%-body %>
</section>
<%include ../includes/main/footer %>
<%include ../includes/main/scripts %>